*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.title {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 28pt;
  letter-spacing: 2px;
  margin: 1em auto 1em auto;
  text-align: center;
  line-spacing: 2em;
}

.divider {
  margin: 0 auto;
  margin-top: 1.5em;
  background-color: lightgray;
  height: 3px;
  width: 25%;
}

form {
  position: relative;
  background-image: url(http://1.bp.blogspot.com/_uBNxPUEhtdM/TBi00PPe8TI/AAAAAAAAE2o/aetYZn9nTDU/s1600/elviscostello_011.jpg);
  width: 50%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.formbg {
  background-color: rgba(255, 255, 255, .95);
  width: 100%;
  height: 100%;
  padding: 4em;
}

.name, .email {
  width: 48%;
  height: 3em;
  padding-left: 1.5em;
  background-color: rgba(225, 225, 225, .8);
  border: none;
  margin-bottom: 1.5em;
  shadow-box: none;
  font-size: 22px;
}

.email {
  float: right;
}

textarea {
  width: 100%;
  background-color: rgba(225, 225, 225, .7);
  margin-bottom: 1.5em;
  padding: 1.5em;
  border: none;
  font-size: 22px;
}
.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color:  rgba(93, 186, 127, 1);
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 1em 2em;
  margin-bottom: 2em;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .1em;
}

::-webkit-input-placeholder {
  font-size: 22px;
 }

 :-moz-placeholder { /* Firefox 18- */
  font-size: 22px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 22px;
}

:-ms-input-placeholder {
  font-size: 22px;
}
